<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHILD PORNOGRAPHY/CHILD SEXUALLY ABUSIVE MATERIAL</title>
    <link rel="stylesheet" href="/css/cyberstyle.css">

</head>

<header>CHILD PORNOGRAPHY/CHILD SEXUALLY ABUSIVE MATERIAL</header>
<div class="topnav">
    <a  href ="views/cyber.html">CYBER CRIME</a>
    <a href="https://cybercrime.gov.in/Webform/Crime_AuthoLogin.aspx">REPORT A CYBER CRIME</a>
    <a href="https://cybercrime.gov.in/Webform/Helpline.aspx">HELPLINE NO</a>
    
</div>
<BODY>
    <DIV CLASS="MAINCONTENT">
        <DIV CLASS="index">
           <p><a href="#intro">1.DEFINITION</a>
        <BR>
        <a href="#considered">2. WHAT IS CRIME UNDER THIS CATEGORY</a><BR>
        <a href="#laws">3. Laws applicable</a><br>
    <a href="#immediate">4. Steps that can be taken </a><br>
   
    <a href="challenges">5. Challenges </a><br>
    <a href="cases">6.Case study</a><br>

</p> 
        </DIV>
        <div class="content">
<h1 id="intro"><ul>DEFINITION</ul></h1>
<P> Child sexually abusive material (CSAM) refers to material containing sexual image in any form, of a child who 
    is abused or sexually exploited. Section 67 (B) of IT Act states that “it is punishable
     for publishing or transmitting of material depicting children in sexually explicit act, etc. in electronic form.</P>
     <hr>
     <H1 id="considered"><ul>WHAT IS CONSIDERED AS A CRIME UNDER THIS CATEGORY</ul></H1>
     <p>
Any material pertaining to child that shows some sexual image in any form comes under this crime .
     </p>
     <hr>
     <h1 id="laws"><ul>LAWS AGAINST CSAM/CHILD PORNOGRAPHY IN INDIA</ul></h1>
     
       <H2> POCSO Act</H2>
       <P>
        1. Using a child for pornographic purposes—up to five years sentence for the first offence, and seven years for the subsequent offence.<BR>
        2. Participating in pornographic acts with a child will be punishable according to the remaining provisions of POCSO Act.<BR>
        3. Storing pornographic material involving a child will be punishable with up to three years sentence.<BR>
     </P>
     <H2>The Information Technology (IT) Act, 2000 has adequate provisions to deal with prevailing cybercrimes.</H2>
     <P>1. Section 67B of the Act specifically provides stringent punishment for publishing, browsing or transmitting child pornography in electronic form.</P>
     <P> While the IT Act focuses on prosecuting offenders for accessing CSAM<BR>
    2. Section 79 of the IT Act and The Information Technology (Intermediary Guidelines) Rules 2011 require that the intermediaries shall observe due diligence while discharging their duties and shall inform the users of computer resources to act accordingly.<BR>
        sections 354A and 354D of Indian Penal Code provide punishment for cyber bullying and cyber stalking against women. </P>
     <HR>
        <H1 id="immediate">WHAT TO DO WHEN YOU FIND CSAM ONLINE</H1>
        <P><B>1. NEVER SHARE CONTENT, EVEN IN AN ATTEMPT TO MAKE A REPORT</B><BR>
            Please know that you are doing the right thing by wanting to report this content, but it’s critical that you do so through the right channels.

            Never share abuse content, even in an attempt to report it. Social media can be a powerful tool to create change in the right context, but keep in mind that every instance of CSAM, no matter where it’s found or what type of content it is, is a documentation of abuse committed against a child. When that content is shared, even with good intentions, it spreads that abuse and creates a cycle of trauma for victims and survivors that is more difficult to stop with every share.</P>
<P><B> 2. REPORT IT TO THE PLATFORM WHERE YOU FOUND IT</B><BR>
</P>
<P><b>3. Report to the cyber crime portal of government</b></P><br>
<p><b> 4. Report to the National Human Trafficking hotline </b><br>

    If you find evidence of child sex trafficking, call the National Human Trafficking Hotline at 1-888-373-7888.

    Managed by Polaris, the hotline offers 24/7 support, as well as a live chat and email option. You can also text BEFREE (233733) to discreetly connect with resources and services.</p>


<HR>
    <H1 ID="CHALLENGES">CHALLENGES</H1>
    <P>
        1. Most of such online CSAM is being hosted outside India and the websites/URLs to access such unlawful content are dynamic
        in nature and frequently changing,making it difficult to identify and block such content .<br>
        2. No centralized mechanism exists in India to monitor online CSAM.<br>
        3. Globally, there exists only a few major resources that provide a dynamic list of websites/URLs identifying online CSAM.
        <br>
        4. The Internet Watch Foundation(hereinafter called the "IWF") maintains such a list of dynamically updated websites /URLs containing online CSAM (herein referred to as "IWF Resources")
        .IWF has been adopted by many countries and is already being implemented by leading online service providers in other 
        jurisdictions.Further,IWF resources are available to ISPs on a subscription basis, either individually or   colletively.

    </P><hr>
    <h1 id="cases">CASE STUDY</h1>
    <p>The Central Bureau of Investigation,took into custody an engineer from UP’s Sonbhadra district and his Delhi-based friend on charges of selling child porn through Instagram, a popular social media platform. 
        They accepted payments through digital applications such as Paytm, Google Pay and others, according to a report by The Times of India.<br>

    </p>
        </div>
        
    </DIV>
</BODY>