<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBER CRIME</title>
    <link rel="stylesheet" href="/css/cyberstyle.css">

</head>
<body>
    <header><h1>CYBER CRIME</h1></header>
    <div class="topnav">
        <a class="active" href ="#cyber">CYBER CRIME</a>
        <a href="https://cybercrime.gov.in/Webform/Crime_AuthoLogin.aspx">REPORT A CYBER CRIME</a>
        <a href="https://cybercrime.gov.in/Webform/Helpline.aspx">HELPLINE NO</a>
        <a href="https://yourdost.com/">COUNCELLING</a>
        
    </div>
    <section>
        <div><p>Cybercrime, or computer-oriented crime, is a crime that involves a computer and a network.
        The computer may have been used in the commission of a crime, or it may be the target.
        Cybercrime may threaten a person, company or a nation's security and financial.
        Any unlawful act where computer or communication device or computer networkis used to commit or facilitate the 
        commission of crime.(reference: wikipedia,digitalpolice.gov.in)</p><HR>
        <h1 >HOW TO REPORT CYBER CRIME </h1>
<P>1. FOR ONLINE REPORTING OF CYBERCRIME .VISIT CYBER CRIME PORTAL <A HREF="https://cybercrime.gov.in/">CLICK HERE</A><BR>
2.You can either report a complain pertaining to online Child Pornography (CP)/ Child Sexual Abuse Material (CSAM) or sexually explicit content such as Rape/Gang Rape (CP/RGR) content either anonymously (ie. without revealing your identity) or by revealing your identity. However, as a responsible citizen you should use “Report and Track” option for reporting the incident/ crime, since it would help the Law enforcement agencies to contact you for further details.<br>
3. To report anonymously,<A HREF="https://cybercrime.gov.in/Webform/Crime_ReportAnonymously.aspx">CLICK HERE</A>..  In this case, a user need not provide any personal information. However, information related to the incident / complaint should be complete for the police authorities to take necessary action. It is recommended that a user uploads the evidence with the complaint which would help police authorities for prompt action. However, a complaint can also be reported by providing information like website address, e-mail address, WhatsApp number etc. Please note that False information provided by complainant may lead to penal action as per law.<BR>
    4.To report a crime revealing your identity, click the <A HREF="https://cybercrime.gov.in/Webform/Crime_AuthoLogin.aspx?rnt=1">CLICK HERE</A>. Register by giving your details such as Name and Mobile number. You will receive a One Time Password (OTP) that will be used to verify your phone number. The OTP is valid for 30 minutes. Once you successfully register your mobile number on the portal, you will be able to report the compliant. Fill all the details related to the crime and submit. The complainant will receive a tracking number which can be used to track the progress of the complaint by clicking on “check status” option on the portal.<BR>
</P><HR>
        <p> Below is a list of some of the cyber crimes to aware peoples. </p>
    </div>
    <hr>
    <table style="width:100%">
    <tr>
        <th>CHILD PORNOGRAPHY/CILD SEXUALLY ABUSIVE MATERIAL</th>
        <td>
        <p>
            Child sexually abusive material (CSAM) refers to material containing sexual image in any form, of a child who 
            is abused or sexually exploited. Section 67 (B) of IT Act states that “it is punishable
             for publishing or transmitting of material depicting children in sexually explicit act, etc. 
             in electronic form.<a href="views/childPornography.html">TO KNOW MORE CLICK HERE</a>
        </p>

        </td>
    </tr>
<tr>
    <th>CYBER BULLYING</th>
    <td>
        A form of harassment or bullying inflicted through the use of electronic or communication devices such as computer, mobile phone, laptop, etc.
    </td>
</tr>
<TR>
    <TH>CYBER STALKING</TH>
    <TD>Cyber stalking is the use of electronic communication by a person to follow a person, or attempts to contact a person to foster personal interaction repeatedly despite a clear indication of disinterest by such person; or monitors the internet, email or any other form of electronic communication commits the offence of stalking.</TD>
</TR>
<TR>
    <TH>CYBER GROOMING</TH>
    <TD>Cyber Grooming is when a person builds an online relationship with a young person and tricks or pressures him/ her into doing sexual act</TD>
</TR>
<TR>
    <TH>ONLINE JOB FRAUD</TH>
    <TD>Online Job Fraud is an attempt to defraud people who are in need of employment by giving them a false hope/ promise of better employment with higher wages.</TD>
</TR>
<TR>
    <TH>ONLINE SEXTORTION</TH>
    <TD>Online Sextortion occurs when someone threatens to distribute private and sensitive material using an electronic medium if he/ she doesn’t provide images of a sexual nature, sexual favours, or money</TD>
</TR>
<TR>
    <TH>VISHING</TH>
    <TD>Vishing is an attempt where fraudsters try to seek personal information like Customer ID, Net Banking password, ATM PIN, OTP, Card expiry date, CVV etc. through a phone call.</TD>
</TR>
<TR>
    <TH>SEXTING</TH>
    <TD>Sexting is an act of sending sexually explicit digital images, videos, text messages, or emails, usually by cell phone.</TD>
</TR>
<TR>
    <TH>SMISHING</TH>
    <TD>Smishing is a type of fraud that uses mobile phone text messages to lure victims into calling back on a fraudulent phone number, visiting fraudulent websites or downloading malicious content via phone or web.</TD>
</TR>
<TR>
    <TH>SIM SWAP SCAM</TH>
    <TD>SIM Swap Scam occurs when fraudsters manage to get a new SIM card issued against a registered mobile number fraudulently through the mobile service provider. With the help of this new SIM card, they get One Time Password (OTP) and alerts, required for making financial transactions through victim's bank account. Getting a new SIM card against a registered mobile number fraudulently is known as SIM Swap.</TD>
</TR>
<TR>
    <TH>DEBIT/CREDIT CARD FRAUD</TH>
    <TD>Credit card (or debit card) fraud involves an unauthorized use of another's credit or debit card information for the purpose of purchases or withdrawing funds from it.</TD>
</TR>
<TR>
    <TH>IMPERSONATION AND IDENTITY THEFT</TH>
    <TD>Impersonation and identity theft is an act of fraudulently or dishonestly making use of the electronic signature, password or any other unique identification feature of any other person.</TD>
</TR>
<TR>
    <TH>PHISHING</TH>
    <TD>Phishing is a type of fraud that involves stealing personal information such as Customer ID, IPIN, Credit/Debit Card number, Card expiry date, CVV number, etc. through emails that appear to be from a legitimate source.</TD>
</TR>
<TR>
    <TH>SPAMMING</TH>
    <TD>Spamming occurs when someone receives an unsolicited commercial messages sent via email, SMS, MMS and any other similar electronic messaging media. They may try to persuade recepient to buy a product or service, or visit a website where he can make purchases; or they may attempt to trick him/ her into divulging bank account or credit card details.</TD>
</TR>
<TR>
    <TH>RANSOMWARE</TH>
    <TD>Ransomware is a type of computer malware that encrypts the files, storage media on communication devices like desktops, Laptops, Mobile phones etc., holding data/information as a hostage. The victim is asked to pay the demanded ransom to get his device decrypts.</TD>
</TR>
<TR>
    <TH>VIRUS,WORMS AND TROJANS</TH>
    <TD>Computer Virus is a program written to enter to your computer and damage/alter your files/data and replicate themselves.

        Worms are malicious programs that make copies of themselves again and again on the local drive, network shares, etc.
        
        A Trojan horse is not a virus. It is a destructive program that looks as a genuine application. Unlike viruses, Trojan horses do not replicate themselves but they can be just as destructive. Trojans open a backdoor entry to your computer which gives malicious users/programs access to your system, allowing confidential and personal information to be theft.</TD>
</TR>
<TR>
    <TH>DATA BREACH</TH>
    <TD>A data breach is an incident in which information is accessed without authorization.</TD>
</TR>
<TR>
    <TH>DENIAL OF SERVICES/DISTRIBUTED DOS</TH>
    <TD>Denial of Services (DoS) attack is an attack intended for denying access to computer resource without permission of the owner or any other person who is in-charge of a computer, computer system or computer network.

        A Distributed Denial of Service (DDoS) attack is an attempt to make an online service unavailable by overwhelming it with traffic from multiple sources.</TD>
</TR>
<TR>
    <TH>WEBSITE DEFACEMENT</TH>
    <TD>Website Defacement is an attack intended to change visual appearance of a website and/ or make it dysfunctional. The attacker may post indecent, hostile and obscene images, messages, videos, etc.</TD>
</TR>
<TR>
    <TH>CYBER SQUATTING</TH>
    <TD>Website Defacement is an attack intended to change visual appearance of a website and/ or make it dysfunctional. The attacker may post indecent, hostile and obscene images, messages, videos, etc.</TD>
</TR>
<TR>
    <TH>PHARMING</TH>
    <TD>Pharming is cyber-attack aiming to redirect a website's traffic to another, bogus website</TD>
</TR>
<TR>
    <TH>CRYPTOJACKING</TH>
    <TD>Cryptojacking is the unauthorized use of computing resources to mine cryptocurrencies.</TD>
</TR>
<TR>
    <TH>ONLINE DRUG TRAFFICKING</TH>
    <TD>Online Drug Trafficking is a crime of selling, transporting, or illegally importing unlawful controlled substances, such as heroin, cocaine, marijuana, or other illegal drugs using electronic means.</TD>
</TR>
<TR>
    <TH>
      ESPIONAGE  
    </TH>
    <TD>
        Espionage is the act or practice of obtaining data and information without the permission and knowledge of the owner.
    </TD>
</TR>
</table>
    </section>
    
</body>
<FOOTER>
    <H3>REFERENCE</H3>
    <a href="https://cybercrime.gov.in/">cyber crime portal</a>
</FOOTER>
</html>