<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <footer>
        <hr>

        <!-- Slider for additional links -->

        <div class="container-fluid marquee">
            <ul class="marquee-content">

                <li><a href="https://digitalindia.gov.in/"><img src="/images/digital-india.png"
                            style="margin-left: 3px; margin-right: 3px; border: 0;"></a></li>
                <li><a
                        href="https://indiankanoon.org/search/?formInput=criminal%20act#:~:text=Indian%20Penal%20Code%2038.,by%20means%20of%20that%20act"><img
                            src="/images/indiankanoon.png" style="margin-left: 3px; margin-right: 3px; border: 0;"></a>
                </li>
                <li><a href="http://goidirectory.nic.in/index.php"><img src="/images/goe-directory.png"
                            style="margin-left: 3px; margin-right: 3px;"></a></li>
                <li><a href="https://www.incredibleindia.org/content/incredible-india-v2/en.html"><img
                            src="/images/incredible-india.png"
                            style="margin-left: 3px; margin-right: 3px; border: 0;"></a>
                </li>
                <li><a href="https://www.india.gov.in/"><img src="/images/india-gov.png"
                            style=" margin-left: 3px; margin-right: 3px; border: 0;"></a></li>
                <li><a href="https://knowindia.gov.in/"><img src="/images/know-India.png"
                            style="margin-left: 6px; margin-right: 6px; border: 0;"></a></li>

            </ul>
        </div>


        <!-- footer Navbar -->

        <div class="custom-bg">
            <div class="container">

                <div class="navbar footNav text-center">

                    <a href="#"><span class="custom-text">Help</span></a>|
                    <a href="#"><span class="custom-text">Contact Us</span></a>|
                    <a href="feedbackForm.html"><span class="custom-text">Feedback</span></a>|
                    <a href="#"><span class="custom-text">Help</span></a>|
                    <a href="#"><span class="custom-text">Help</span></a>|
                    <a href="#"><span class="custom-text">Help</span></a>

                </div>
            </div>
        </div>


        <div class="row text-center">

            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/script/footerScript.js"></script>
</body>

</html>