<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
    <script>
        $(function () {
            $("#header").load("/views/header.html");
            $("#footer").load("/views/footer.html");
        })
    </script>
    <div id="header">

    </div>

    <main>
        <div class="container">


            <h3 class="container-fluid text-center" style="margin-top: 5px; margin-bottom: 20px;">Mission</h3>

            <!-- main body  -->
            <p style="font-size: 20px;">
                Our main motive is to spread the awareness about the rights we have, crimes, what steps should taken when any type of crime
                occurs and helping needies by bringing all the relevent content scattered all over the internet  onto a single platform to make things easy for people. We provide exact link for portal where your can register your complaint against any kind of crime.            </p>

        </div>
    </main>

    <div id="footer">

    </div>

</body>

</html>