<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script>
        $(function () {
            $("#header").load("/views/header.html");
            $("#footer").load("/views/footer.html");
        })
    </script>
    <div id="header">

    </div>

    <main>
        <div class="container">
            <h3 class="container-fluid text-center" style="margin-top: 5px; margin-bottom: 20px;">Vision</h3>

            <hr>

            <p style="font-size: 20px; margin-bottom: 40px;">
                The Indian Citizen, secure in their home and outside, fully empowered to access all their rights and
                entitlements, with opportunity
                to contribute equally in all walks of life.
            </p>
        </div>

    </main>

    <div id="footer">

    </div>

</body>

</html>